.u-section-1 .u-sheet-1 {min-height: 254px}
.u-section-1 .u-text-1 {font-size: 3rem; margin: 1px auto 0 50px}
.u-section-1 .u-text-2 {margin: 12px 50px 29px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 0} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 415px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 401px}
.u-section-1 .u-text-1 {width: auto}
.u-section-1 .u-text-2 {margin-bottom: 21px} }.u-section-2 .u-sheet-1 {min-height: 346px}
.u-section-2 .u-text-1 {font-size: 1.875rem; margin: 1px auto 0 50px}
.u-section-2 .u-text-2 {margin: 20px 50px 0}
.u-section-2 .u-group-1 {width: 520px; min-height: 140px; margin: 20px 50px 0 auto}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {width: 479px; height: 83px; margin: -3px -10px 0}
.u-section-2 .u-group-2 {width: 521px; min-height: 140px; margin: -140px auto 30px 49px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {height: 82px; width: 470px; margin: -2px -5px 0} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-2 .u-group-1 {height: auto}
.u-section-2 .u-group-2 {height: auto}
.u-section-2 .u-image-2 {width: 411px; height: 72px; margin-right: 0; margin-left: 0} }

@media (max-width: 767px){ .u-section-2 .u-group-1 {margin-right: 20px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-2 {margin-top: 20px; margin-left: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-group-1 {width: 340px; margin-right: 0}
.u-section-2 .u-image-1 {width: 320px; height: 56px; margin-right: 0; margin-left: 0}
.u-section-2 .u-group-2 {width: 340px; margin-left: 0}
.u-section-2 .u-image-2 {width: 320px; height: 56px} }.u-section-3 .u-sheet-1 {min-height: 312px}
.u-section-3 .u-text-1 {width: 70px; font-size: 1.875rem; margin: 1px auto 0 50px}
.u-section-3 .u-text-2 {margin: 20px 50px 0}
.u-section-3 .u-image-1 {width: 147px; height: 148px; margin: 22px auto 0 200px}
.u-section-3 .u-image-2 {width: 148px; height: 149px; margin: -148px 200px 20px auto} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-3 .u-image-1 {margin-left: 197px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {width: auto; margin-left: 0}
.u-section-3 .u-image-1 {margin-left: 97px}
.u-section-3 .u-image-2 {margin-right: auto} }.u-section-4 .u-sheet-1 {min-height: 140px}
.u-section-4 .u-text-1 {width: 70px; font-size: 1.875rem; margin: 0 auto 0 50px}
.u-section-4 .u-text-2 {width: 1040px; margin: 20px 50px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 483px}
.u-section-4 .u-text-1 {height: 39px}
.u-section-4 .u-text-2 {width: 940px; height: 64px; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 464px}
.u-section-4 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-4 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 258px}
.u-section-4 .u-text-1 {width: auto; margin-left: 0}
.u-section-4 .u-text-2 {width: 340px} }.u-section-5 .u-sheet-1 {min-height: 340px}
.u-section-5 .u-text-1 {font-size: 1.875rem; margin: 0 auto 0 50px}
.u-section-5 .u-shape-1 {width: 194px; height: 228px; margin: 30px auto 0 190px}
.u-section-5 .u-shape-2 {width: 194px; height: 228px; margin: -228px auto 0 473px}
.u-section-5 .u-shape-3 {width: 194px; height: 228px; margin: -228px 190px 0 auto}
.u-section-5 .u-text-2 {font-size: 1.5rem; margin: -213px auto 0 200px}
.u-section-5 .u-text-3 {font-size: 1.5rem; margin: -38px auto 0}
.u-section-5 .u-text-4 {font-size: 1.5rem; margin: -38px 269px 0 auto}
.u-section-5 .u-text-5 {font-size: 1.5rem; margin: 120px auto 0 210px}
.u-section-5 .u-text-6 {font-size: 1.5rem; margin: -38px auto 0 492px}
.u-section-5 .u-text-7 {font-size: 1.5rem; margin: -38px 308px 60px 775px} 

@media (max-width: 1199px){ .u-section-5 .u-text-1 {width: 70px; height: 39px; margin-left: 0}
.u-section-5 .u-text-2 {margin-left: 0}
.u-section-5 .u-text-4 {margin-right: 69px}
.u-section-5 .u-text-5 {margin-left: 10px}
.u-section-5 .u-text-6 {margin-left: 292px}
.u-section-5 .u-text-7 {margin-right: 208px; margin-left: 675px} }

@media (max-width: 991px){ .u-section-5 .u-text-4 {margin-right: 0}
.u-section-5 .u-text-5 {margin-left: 0}
.u-section-5 .u-text-6 {margin-left: 72px}
.u-section-5 .u-text-7 {margin-right: 98px; margin-left: 565px} }

@media (max-width: 767px){ .u-section-5 .u-shape-1 {margin-top: 20px; margin-left: 173px}
.u-section-5 .u-shape-2 {margin-top: 20px; margin-left: 173px}
.u-section-5 .u-shape-3 {margin-top: 20px}
.u-section-5 .u-text-2 {margin-top: 20px; margin-left: 184px}
.u-section-5 .u-text-5 {margin-top: 20px; margin-left: 224px}
.u-section-5 .u-text-6 {margin-top: 20px; margin-left: 242px}
.u-section-5 .u-text-7 {margin-right: 8px; margin-left: 475px} }

@media (max-width: 575px){ .u-section-5 .u-shape-1 {margin-left: 73px}
.u-section-5 .u-shape-2 {margin-left: 73px}
.u-section-5 .u-shape-3 {margin-right: auto}
.u-section-5 .u-text-2 {width: auto; margin-top: -711px; margin-left: 84px}
.u-section-5 .u-text-3 {width: auto; margin-top: 210px; margin-left: 132px}
.u-section-5 .u-text-4 {width: auto; margin-top: 210px; margin-right: auto}
.u-section-5 .u-text-5 {width: auto; margin-top: -370px; margin-left: 93px}
.u-section-5 .u-text-6 {width: auto; margin-top: 210px; margin-left: 93px}
.u-section-5 .u-text-7 {width: auto; margin-top: 210px; margin-right: 190px; margin-left: 93px} }