.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-text-1 {margin: 60px auto 0}
.u-section-1 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; background-image: none; align-self: center; margin: 25px auto 0}
.u-section-1 .u-btn-2 {border-style: solid; font-weight: 700; text-transform: uppercase; background-image: none; align-self: center; margin: 30px auto 0}
.u-section-1 .u-btn-3 {border-style: solid; font-weight: 700; text-transform: uppercase; background-image: none; margin: 30px auto 60px}