html {
  background-color: #999999;
}

.main {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;

}

/* header */
h1 {
  font-size: 32px;
  font-family: 'Open Sans', monospace;
  font-style: italic;
  color: #ffffff;
}

h2 {
  font-size: 28px;
  font-family: 'Open Sans', monospace;
  font-style: italic;
  color: #ffffff;
}

p {
  font-size: 24px;
  font-family: 'Open Sans', monospace;
  font-style: italic;
  color: #ffffff;
}

a {
  font-family: 'Open Sans', monospace;
  font-style: italic;
  color: #ffffff;
  text-decoration: none;
}

/* highlights text on hover */
a:hover {
  font-family: 'Open Sans', monospace;
  font-style: italic;
  color: #333333;
  background-color: #ffffff;
  text-decoration: none;
}