.u-section-1 .u-sheet-1 {min-height: 263px}
.u-section-1 .u-text-1 {font-style: italic; font-weight: 700; font-size: 4.5rem; margin: 41px auto 0}
.u-section-1 .u-custom-html-1 {min-height: 39px; width: 304px; margin: 52px auto} 

@media (max-width: 1199px){ .u-section-1 .u-custom-html-1 {height: auto} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {font-size: 3.75rem} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 217px}
.u-section-1 .u-text-1 {font-size: 1.875rem} }.u-section-2 .u-sheet-1 {min-height: 2256px}
.u-section-2 .u-image-1 {width: 400px; height: 400px; margin: 79px auto 0 0}
.u-section-2 .u-text-1 {font-size: 1.5rem; animation-duration: 1000ms; margin: -352px 0 0 550px}
.u-section-2 .u-image-2 {width: 400px; height: 400px; margin: 58px 0 0 auto}
.u-section-2 .u-text-2 {font-size: 1.5rem; font-weight: bold; font-style: italic; margin: -283px 520px 0 0}
.u-section-2 .u-image-3 {width: 400px; height: 400px; animation-duration: 1000ms; margin: 95px auto 0 0}
.u-section-2 .u-text-3 {font-size: 1.5rem; font-weight: bold; font-style: italic; margin: -352px 0 0 550px}
.u-section-2 .u-image-4 {width: 250px; height: 400px; margin: 175px 0 0 auto}
.u-section-2 .u-image-5 {width: 250px; height: 400px; margin: -400px auto 0}
.u-section-2 .u-image-6 {width: 250px; height: 400px; margin: -400px auto 0 0}
.u-section-2 .u-text-4 {margin: 0 auto 0 -21px}
.u-section-2 .u-text-5 {margin: -32px auto 0}
.u-section-2 .u-text-6 {margin: -32px 35px 0 auto}
.u-section-2 .u-text-7 {font-weight: 700; font-style: italic; margin: 209px 372px 60px 330px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 1048px}
.u-section-2 .u-image-1 {margin-top: 50px}
.u-section-2 .u-text-1 {width: auto; margin-top: -380px; margin-left: 470px}
.u-section-2 .u-image-2 {margin-top: 66px}
.u-section-2 .u-text-2 {width: auto; margin-top: -333px; margin-right: 470px}
.u-section-2 .u-image-3 {margin-top: 133px}
.u-section-2 .u-text-3 {width: auto; margin-top: -390px; margin-left: 470px}
.u-section-2 .u-image-4 {margin-top: 158px}
.u-section-2 .u-image-5 {width: 206px}
.u-section-2 .u-image-6 {width: 206px}
.u-section-2 .u-text-4 {width: auto; margin-left: -15px}
.u-section-2 .u-text-5 {width: auto; margin-right: 286px}
.u-section-2 .u-text-6 {width: auto; margin-right: 26px}
.u-section-2 .u-text-7 {width: 439px; margin: 44px auto 50px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 4461px}
.u-section-2 .u-image-1 {margin-left: auto}
.u-section-2 .u-text-1 {width: 560px; margin-top: 20px; margin-left: auto; margin-right: auto}
.u-section-2 .u-image-2 {margin-top: 39px; margin-right: auto}
.u-section-2 .u-text-2 {width: 560px; margin-top: 20px; margin-left: auto; margin-right: auto}
.u-section-2 .u-image-3 {margin-top: 20px; margin-left: auto}
.u-section-2 .u-text-3 {width: 560px; margin-top: 20px; margin-left: auto; margin-right: auto}
.u-section-2 .u-image-4 {width: 300px; height: 582px; margin-top: 1448px; margin-right: auto}
.u-section-2 .u-image-5 {width: 300px; height: 582px; margin-top: -1276px}
.u-section-2 .u-image-6 {width: 300px; height: 582px; margin-top: -1276px; margin-left: auto}
.u-section-2 .u-text-4 {margin-top: 20px; margin-left: auto}
.u-section-2 .u-text-5 {margin-top: 662px; margin-right: auto}
.u-section-2 .u-text-6 {margin-top: 662px; margin-right: auto}
.u-section-2 .u-text-7 {margin-top: 34px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 4766px}
.u-section-2 .u-image-1 {margin-top: 76px}
.u-section-2 .u-text-1 {width: 385px}
.u-section-2 .u-image-2 {margin-top: 20px}
.u-section-2 .u-text-2 {width: 417px}
.u-section-2 .u-image-3 {margin-top: 60px}
.u-section-2 .u-text-3 {width: 385px}
.u-section-2 .u-image-4 {height: 480px; margin-top: 1225px}
.u-section-2 .u-image-5 {height: 480px; margin-top: -1063px}
.u-section-2 .u-image-6 {height: 479px; margin-top: -1062px}
.u-section-2 .u-text-4 {margin-top: 11px}
.u-section-2 .u-text-5 {margin-top: 551px}
.u-section-2 .u-text-6 {margin-top: 551px}
.u-section-2 .u-text-7 {width: 363px; margin-top: 138px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 4833px}
.u-section-2 .u-image-1 {width: 340px; height: 340px; margin-left: 0; margin-right: 0}
.u-section-2 .u-text-1 {margin-left: 10px; margin-right: 10px; width: 340px}
.u-section-2 .u-image-2 {height: 340px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-2 {margin-left: 10px; margin-right: 10px; width: 340px}
.u-section-2 .u-image-3 {height: 340px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-3 {margin-left: 10px; margin-right: 10px; width: 340px}
.u-section-2 .u-image-4 {margin-top: 1229px}
.u-section-2 .u-image-5 {margin-top: -1067px}
.u-section-2 .u-text-4 {margin-top: 0; margin-left: 24px; margin-right: 24px}
.u-section-2 .u-text-5 {margin-left: 10px; margin-right: 10px}
.u-section-2 .u-text-6 {margin-top: 523px}
.u-section-2 .u-text-7 {margin-top: 95px; margin-left: 10px; margin-right: 10px; width: 340px} }